/* Classes for hiding/showing content */
.hidden {
    display: none;
}

@media only screen and (max-width: 576px){
    .hideOnWidth {
        display: none;
    }
}

@media only screen and (min-width: 576px){
    .showOnWidth {
        display: none;
    }
}

@media only screen and (max-height: 650px){
    .hideOnHeight {
        display: none;
    }
}

/* Navigation */
.navbar {
    padding: 10px;
}

.breadcrumbMargin {
    margin: 10px 20px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    text-align: center;
}

.icon32 {
    font-size: 32px;
}

/* Theme Switcher  */
#ThemeControls {
    padding: 0px 10px;
    margin-right: 20px;
}

.BatteryContainer {
    width: 100px;
    height: 32px;

    margin: 10px;

    text-align: center;
}