.hidden {
    display: none;
}

/* Navigation */
.navbar {
    padding: 10px;
}

#breadcrumb {
    margin: 10px 20px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    text-align: center;
}

/* Theme Switcher  */
#ThemeControls {
    padding: 0px 10px;
    margin-right: 20px;
}

.BatteryContainer {
    width: 100px;
    height: 32px;

    margin: 10px;

    text-align: center;
}

#Battery {
    font-size: 32px;
}

#socketicon {
    font-size: 32px;
}

/* 
    Media Queries to show/hide theme controls based on device width
    - If device is small, hide drag and drop but show switch
*/
@media only screen and (max-width: 576px) {
    #dragDropThemeControls {
        display: none;
    }

    #switchThemeControls {
        display: unset;
    }
}

/* index.html */

#BasicAbout {
    text-align: center;
    padding: 10px;
}