.row {
    
}

/* Navigation */
.navbar {
    padding: 10px;
}

/* Theme Switcher  */
#ThemeControls {
    padding: 0px 10px;
    margin-right: 20px;
}

.BatteryContainer {
    width: 100px;
    height: 32px;

    margin: 10px;

    text-align: center;
}

#Battery {
    font-size: 32px;
}

#socketicon {
    font-size: 32px;
}

/* index.html */

#BasicAbout {
    text-align: center;
    padding: 10px;
}