#ThemeControls {
    
}

.BatteryContainer {
    float: right;

    width: 100px;
    height: 32px;

    margin: 10px;

    text-align: center;
}

#Battery {
    font-size: 32px;
}

#socketicon {
    font-size: 32px;
}